// Background colors variables
$background-gray:#303030;
$background-blue:#44CCDD;
$background-orange:#F45D25;


// Border colors variables
$border-black: #000000;

// Text colors variables
$text-black: #000000;